accounts/src/main/mule/accounts.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:salesforce="http://www.mulesoft.org/schema/mule/salesforce" xmlns:batch="http://www.mulesoft.org/schema/mule/batch"
	xmlns:jms="http://www.mulesoft.org/schema/mule/jms"
	xmlns:os="http://www.mulesoft.org/schema/mule/os" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:db="http://www.mulesoft.org/schema/mule/db" xmlns:file="http://www.mulesoft.org/schema/mule/file" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/file http://www.mulesoft.org/schema/mule/file/current/mule-file.xsd
http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd
http://www.mulesoft.org/schema/mule/os http://www.mulesoft.org/schema/mule/os/current/mule-os.xsd
http://www.mulesoft.org/schema/mule/jms http://www.mulesoft.org/schema/mule/jms/current/mule-jms.xsd
http://www.mulesoft.org/schema/mule/batch http://www.mulesoft.org/schema/mule/batch/current/mule-batch.xsd
http://www.mulesoft.org/schema/mule/salesforce http://www.mulesoft.org/schema/mule/salesforce/current/mule-salesforce.xsd">
	<file:config name="File_Config" doc:name="File Config" doc:id="17732e12-1d36-4171-b380-e6a547e55c71" >
		<file:connection workingDir="C:\Users\Administrator\Downloads\APDevFundamentals_studentFiles_28jul2022\resources" />
	</file:config>
	<db:config name="Database_Config" doc:name="Database Config" doc:id="59d83dd4-186e-400a-8816-cb0bcb870cce" >
		<db:my-sql-connection host="iltdb.learn.mulesoft.com" port="3306" user="mule" password="mule" database="training" />
	</db:config>
	<jms:config name="JMS_Config" doc:name="JMS Config" doc:id="657d08de-f3e9-4ea4-853a-cbc5c50af0d0" >
		<jms:active-mq-connection >
			<jms:factory-configuration />
		</jms:active-mq-connection>
	</jms:config>
	<salesforce:sfdc-config name="Salesforce_Config" doc:name="Salesforce Config" doc:id="757f7f00-a7eb-48be-86bf-8e13cf4a8a90" >
		<salesforce:basic-connection username="mrburnwal@xml.com" password="Parent&amp;1" securityToken="FwUIUEwkoFrLSWhcpM1TIEpz" />
	</salesforce:sfdc-config>
	<flow name="accountsFlow" doc:id="aab6a96a-aba3-456b-bb44-778c99879778" >
		<file:listener doc:name="On New or Updated File" doc:id="38bb0216-9a4e-4497-bbcb-d6bd1c7fc1f0" config-ref="File_Config" directory="input" moveToDirectory="output">
			<scheduling-strategy >
				<fixed-frequency frequency="10" timeUnit="SECONDS"/>
			</scheduling-strategy>
			<file:matcher filenamePattern="*.csv" />
		</file:listener>
		<ee:transform doc:name="Transform Message" doc:id="f5143a1f-2704-4244-8d71-e2c2b022f6b4" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/java
---
payload]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<foreach doc:name="For Each" doc:id="1c6c6e9b-a510-4f38-bc1b-4f2a14ae321f" >
			<set-payload value="#['processed!!']" doc:name="processed!!" doc:id="1003d31f-e362-4508-bb48-98b1e4ea82f6" />
			<logger level="INFO" doc:name="Logger" doc:id="a34d9806-344f-488a-a365-dd1137d196f5" message="#[payload]"/>
		</foreach>
		<logger level="INFO" doc:name="Logger" doc:id="193f7ef4-fca5-47c5-9771-7dacb84ea6c0" message="#[payload]"/>
	</flow>
	<flow name="syncDVaccountsWithPostal" doc:id="cf427ff8-83b9-4466-bbb3-d8028370775f" initialState="stopped">
		<scheduler doc:name="Scheduler" doc:id="2feb4e43-d394-4f76-a8a7-aab6c000ba99" >
			<scheduling-strategy >
				<fixed-frequency frequency="10" timeUnit="SECONDS"/>
			</scheduling-strategy>
		</scheduler>
		<os:retrieve doc:name="Retrieve" doc:id="89c1d376-92f2-4ff9-b16b-f835ec92eea1" key="lastAccountID" target="lastAccountID">
			<os:default-value ><![CDATA[0]]></os:default-value>
		</os:retrieve>
		<db:select doc:name="Select" doc:id="7b46601e-f26b-4d4c-96bb-df5ace4ae192" config-ref="Database_Config">
			<db:sql ><![CDATA[SELECT *
FROM accounts 
WHERE postal= :postal
AND accountID > :lastAccountID]]></db:sql>
			<db:input-parameters ><![CDATA[#[{postal: '98765', lastAccountID: vars.lastAccountID}]]]></db:input-parameters>
		</db:select>
		<choice doc:name="Choice" doc:id="0c459f2e-840a-466d-8486-7dd050f6aef0" >
			<when expression="#[not isEmpty(payload)]">
				<os:store doc:name="Store" doc:id="e85221c5-0d04-4626-a3cb-02a0926b014b" key="lastAccountID">
			<os:value><![CDATA[#[max(payload.*accountID)]]]></os:value>
		</os:store>
				<file:write doc:name="Write" doc:id="8db1cc64-ca0e-458d-b7ab-98714a345454" config-ref="File_Config" path="output/DBpostal.csv">
			<file:content><![CDATA[#[output application/csv header=false --- payload]]]></file:content>
		</file:write>
				<logger level="INFO" doc:name="Logger" doc:id="9af95651-221e-4c08-ab38-c4faef3e8aee" message="#[output application/csv --- payload]" />
				<jms:publish doc:name="Publish" doc:id="bd808df3-41b7-4611-8820-08f89d2d0753" config-ref="JMS_Config" destination="accountsQ">
					<jms:message >
						<jms:body ><![CDATA[#[output application/json --- payload]]]></jms:body>
					</jms:message>
				</jms:publish>
			</when>
			<otherwise >
				<logger level="INFO" doc:name="Logger" doc:id="42b9ca33-9b5d-4400-8905-89bc2fad2a92" message='#["no new records"]'/>
			</otherwise>
		</choice>
	</flow>
	<flow name="syncDBaccountstoCSV" doc:id="45f1721c-f15e-472f-a109-74a15ea60cf4" initialState="stopped">
		<db:listener doc:name="On Table Row" doc:id="514b76ad-9935-4bb8-92e9-b18553171401" config-ref="Database_Config" table="accounts" watermarkColumn="accountID" idColumn="accountID">
			<scheduling-strategy >
				<fixed-frequency frequency="10" timeUnit="SECONDS"/>
			</scheduling-strategy>
		</db:listener>
		<ee:transform doc:name="Transform Message" doc:id="e5808c04-43d8-4369-a379-be735fd65b6f" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/csv header=false
---
payload]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<file:write doc:name="Write" doc:id="8c14ba0d-d78f-459c-a3d5-6b94d8669063" config-ref="File_Config" path="output/DBaccounts.csv" mode="APPEND"/>
		<logger level="INFO" doc:name="Logger" doc:id="d322f248-59db-4c22-a88c-1f96a5701a38" message="#[payload]"/>
	</flow>
	<flow name="receiveJMS" doc:id="fd64b8ea-5426-44c7-80db-142a3f4fcf08" >
		<jms:listener doc:name="On New Message" doc:id="a3714ca9-6210-49b5-a2e2-fd0990729380" config-ref="JMS_Config" destination="accountsQ">
			<jms:consumer-type >
				<jms:queue-consumer />
			</jms:consumer-type>
		</jms:listener>
		<logger level="INFO" doc:name="Logger" doc:id="dd870592-1704-4910-8f7c-8b19ca408899" message="#[payload]"/>
		<ee:transform doc:name="Transform Message" doc:id="049c7a53-d5d6-4d4e-b668-b12898ad0a29" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/java
---
payload map ( payload01 , indexOfPayload01 ) -> {
    Name: payload01.name,
    BillingStreet: payload01.street,
    BillingCity: (payload01.city default ""),
    BillingState: payload01.state,
    BillingPostalCode: payload01.postal,
    BillingCountry: payload01.country
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<batch:job jobName="syncWithSalesforce" doc:id="07729549-4961-4514-8126-8eb69b6dbbfb" >
			<batch:process-records >
				<batch:step name="isAccountInSalesforce" doc:id="072468fd-6db6-4380-924e-58e64202daf3" >
					<salesforce:query doc:name="Query" doc:id="15aea42b-2f48-427d-b44c-8e74bbfbfc76" config-ref="Salesforce_Config" target="exists" targetValue="#[sizeOf(payload as Array) &gt; 0]">
						<salesforce:salesforce-query ><![CDATA[SELECT Name
FROM Account
WHERE Name = ':cname']]></salesforce:salesforce-query>
						<salesforce:parameters ><![CDATA[#[output application/java
---
{
	"cname" : payload.Name default "" as String
}]]]></salesforce:parameters>
					</salesforce:query>
					<logger level="INFO" doc:name="Logger" doc:id="b260a2b5-cdd5-4c70-b801-f76993909ebf" message='#[payload.Name ++ ": " ++ vars.exists]'/>
				</batch:step>
				<batch:step name="writeToSalesforce" doc:id="06419165-d83e-47ec-a371-0ede3d77e291" >
					<batch:aggregator doc:name="Batch Aggregator" doc:id="bbdc345e-793e-4058-b4ca-d880a8e781ac" size="5">
						<salesforce:create type="Account" doc:name="Create" doc:id="984cba9e-3f29-44c1-9fbf-9ee2e9aedbf3" config-ref="Salesforce_Config" />
					</batch:aggregator>
				</batch:step>
			</batch:process-records>
			<batch:on-complete >
				<logger level="INFO" doc:name="Logger" doc:id="34161514-ca4d-4a7a-9d9e-bad3b79bfb1b" />
			</batch:on-complete>
		</batch:job>
	</flow>
	<flow name="batchProcessCSV" doc:id="53ca9d5c-5941-4e21-9d92-0572b850d060" >
		<file:listener doc:name="Copy_of_On New or Updated File" doc:id="f62ed70f-6acb-4b33-a41f-0ad6a85c099d" config-ref="File_Config" directory="input" moveToDirectory="output" >
			<scheduling-strategy >
				<fixed-frequency frequency="10" timeUnit="SECONDS" />
			</scheduling-strategy>
			<file:matcher filenamePattern="*.csv" />
		</file:listener>
		<ee:transform doc:name="Copy_of_Transform Message" doc:id="2728c45f-5b6f-4483-96bf-4b045e0b50c6" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/java
---
payload]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<set-variable value="#[sizeOf(payload)]" doc:name="size = = sizeOf(payload)" doc:id="1d1a82a9-6b9a-4aff-9365-e0189b3f41b5" variableName="size"/>
		<batch:job jobName="accountsBatch_Job" doc:id="36dd24b5-ec8b-451c-9529-b62e80d26684" >
			<batch:process-records >
				<batch:step name="Batch_Step" doc:id="375e3db8-ee27-457a-a2c2-829790d0aadf" >
					<set-variable value="#[payload.Name]" doc:name="cname = payload.name" doc:id="b55f61c8-52a3-4dd5-996c-64eccc6b891b" variableName="cname"/>
					<logger level="INFO" doc:name="Logger" doc:id="315c441d-7030-4f30-b1d2-dde6641ca06f" message="#[vars.cname]"/>
				</batch:step>
				<batch:step name="Batch_Step1" doc:id="1aab4f69-7e07-4b3a-b7d3-dfeeb1973bb0" >
					<logger level="INFO" doc:name="Logger" doc:id="25416b1f-c7e1-4fc1-9352-b2d218f0e8a9" />
				</batch:step>
			</batch:process-records>
			<batch:on-complete >
				<logger level="INFO" doc:name="Logger" doc:id="4b7c0177-c556-4bd6-a8f9-6898e1f5a900" />
			</batch:on-complete>
		</batch:job>
	</flow>
</mule>
